

html {
  font-size: 18px;
  background: white;
}

header {
  display: flex;
  width: 100%;
  height: 45px;
  background-color: black;
  color: white;
  /*position: fixed;*/
}

.logo.container {
  display: flex;
  width: 100%;
}

.logo {
  display: flex;
  padding: .5rem 1rem .5rem .5rem;
}

img {
  height: 1.5rem;
}

.header.text {
  display: flex;
  align-items: center;
}

span {
  font-family: Helvetica;
}

.bike {
  display: block;
  background-image: url("./resources/img/moto.jpeg");
  /*width: 100%;*/
  height: 25em;
  background-size: cover;
  background-position: center;
  /*padding-top: 9rem;*/
  /*padding-left: 8rem;*/
}

.container {
  display: block;
  max-width: 960px;
  margin: 0 auto;
}

.bike.header {
  display: block;
  background: black;
  font-family: Helvetica;
  font-size: 16px;
  font-weight: bold;
  color: white;
  width: 17em;
  padding: 2em 3em;
  top: 9em;
  position: relative;
  height: 7rem;
}

h1 {
  display: block;
  font-size: 2rem;
  margin: .25em 0;
}

h4 {
  display: block;
}

.navbar {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  background-color: firebrick;
  width: 100%;
  height: 2.5rem;
}

.navbar span {
  color: white;
  display: inline-flex;
  padding: 1em 2.5em;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

.products, .business-info {
  display: flex;
  justify-content: space-between;
  margin: 3em 0 0 0;
}

.product {
  width: 40%;
}

.product-image {
  border: 4px solid black;
  padding: 2em 0;
  height: 9em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.description {
  display: block;
  background-color: black;
  color: white;
  text-align: center;
  padding: 0.5em;
}

.product-image img {
  /*max-width: 9em;*/
  width: 50%;
  height: 50%;
}

img {
  border-style: none;
}

.info {
  width: 35%;
}

.info .title {
  display: block;
  background-color: black;
  color: white;
  padding: 1em 2em;
}

footer {
  background-color: black;
  color: white;
  padding: 5em 0;
  margin-top: 4em;
}

@media only scren and (max-width: 1024px) {
  body {
  font-size: 16px;
}

.products {
flex-wrap: wrap;
}
